.ShoppingListForm {
    margin: 1em 0 2em;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.ShoppingListForm input {
    border-radius: 5px;
}
.ShoppingListForm .warning {
    color: red;
    font-weight: 500;
    margin-top: 0;
}
.ShoppingListForm > .row {
    display: flex;
    gap: 0.5em;
    width: 100%;
}
.ShoppingListForm > .row .col {
    flex-direction: column;
    display: flex;
}
.ShoppingListForm > .row .col:nth-child(2) input {
    width: 50px;
}
.ShoppingListForm button {
    background-color: rgb(95, 158, 160);
    color: white;
    border: none;
    transition: all 0.2s;
}
.ShoppingListForm button:hover {
    border: none;
    background-color: rgb(52, 120, 122);
    color: white;
}
